<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="framer1.css">
    <title>SyncSpotify Prime</title>
</head>

<body>
    <header>
        <h1 style="width: auto;
        height: auto;
        white-space: pre-wrap;
        word-wrap: break-word;
        word-break: break-word;
        max-width: 100%;
        font-weight: 700;
        font-style: normal;
        font-family: sans-serif;
        color: var(--token-b9c3c957-2c66-49c4-9732-fa196fddac20, #001122);
        font-size: 72px;
        letter-spacing: -3.8px;
        line-height: 1.2;
        text-align: center;
        position: relative;">SyncSpotify Prime</h1>
        <!-- add a image in center -->
        <img src="images.jpeg" alt="SyncSpotify Prime" style="display: block;">
        <!-- add a row below such that it is in center -->
        <div class="row">
            <div class="col-sm-4">
                <button type="button" class="btn btn-primary btn-lg btn-block" onclick="location.href='/login'">Login
                    with Spotify</button>
            </div>
            <div class="col-sm-4">
                <button type="button" class="btn btn-primary btn-lg btn-block" onclick="location.href='/login'">Login
                    with Prime</button>
            </div>
            <div class="col-sm-4">
                <button type="button" class="btn btn-primary btn-lg btn-block" onclick="location.href='/login'">Login
                    with Apple Music</button>
            </div>
    </header>
    <!-- pre generated boiler plate -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUadn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>