<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SyncSpotify Prime - Profile</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>SyncSpotify Prime</h1>
        <button class="logout-btn" onclick="location.href='/logout'">Logout</button>
    </header>

    <main class="container">
        <h2>User Profile</h2>
        <p>Name: Hack Life</p>
        <p>Email: hackreallife@outlook.com</p>
        <!-- Add more profile information as needed -->
        <button onclick="window.location.href='index.html'">Go back to Main Page</button>
    </main>
</body>
</html>
